.Title {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 1em;
	/* margin-bottom: 2em; */
	background-color: rgb(28, 118, 214);
	color: #060323;
}

.Title-Subtitle {
  color: rgb(7, 7, 7);
	font-weight: 600;
}